.detailedViewContainer {
  min-height: 90vh;
}

.detailProductInfo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3vh 0;
}

.detailProductInfo h1 {
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 900;
}

.detailImg {
  height: auto;
  width: 100%
}

.colorSwap {
  width: 95%;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #2A2A2A;
  border-bottom: 1px solid #2A2A2A;
  margin-bottom: 2em;
}

.detailImgColor {
  font-size: 1.25em;
  margin-bottom: 8px;
}


.detailThumbnails {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.detailThumbnails img {
  height: 100%;
  width: auto;
  margin: 0 10px;
}

.sizesDisplay {
  width: 95%;
  height: 115px;
  margin-bottom: 2em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-bottom: 1px solid #2A2A2A;
  /*background-color: lime;*/
}

.sizesContainer {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /*background-color: plum;*/

}

.size{
  height: 45px;
  width: 45px;
  padding: 0 8px;
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.size h1 {
  font-weight: 900;
}

.addToCartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 95%;
  margin: 4em auto;
  background-color: red;
}

.addToCartButton h2 {
  font-size: 1.25em;
  letter-spacing: 0.12em;
  font-weight: 900;
  text-align: center;
  color: white;
}
