.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  width: 45%;
  padding-bottom: 10vh;
}

.breadCrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 15vh;
  width: 97%;
  padding-left: 3%;
}

.breadCrumbs p {
  margin-right: 8px;
  font-weight: 900;
  color: red;
}

.breadCrumbs a {
  text-decoration-line: none;
  font-weight: 900;
  color: red;
}

.breadCrumbs a:visited {
  color: red;
}

.breadCrumbs .currPage {
  margin-left: 8px;
  font-size: 1.75em;
}

.productImg {
  height: 187px;
  width: 161px;
}

.productName {
  font-size: 1.1em;
  font-weight: 900;
  line-height: 1.4em;
  height: 80px;
}

.addToCartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3.2em;
  min-width: 80%;
  background-color: red;
  margin-top: 2em;
}

.addToCartButton h2 {
  font-size: 1em;
  letter-spacing: 0.12em;
  font-weight: 900;
  text-align: center;
  color: white;
}


.productsLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.thumbnails {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.thumbnails img {
  height: 100%;
  width: auto;
  margin: 0 4px;
}
