.limitCategoryContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #E3E3E3;
  margin: 2em 0 1em 0;
  /*background-color: lime;*/
}

.limitBreadcrumb {
  width: auto;
  height: auto;
  display: flex;
  align-items: baseline;
}

.limitBreadcrumb a {
  text-decoration-line: none;
}

.limitBreadcrumb h1 {
  font-size: 3em;
  font-weight: 900;
  margin-right: .4em;
}

.limitBreadcrumb h2 {
  font-size: 1.75em;
  font-weight: 900;
  color: red;
}

.rightArrow {
  margin-left: .45em;
  font-weight: 400;
}

.limitProductsDisplay {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 2em;
}
