.cartItemContaineriPadDesktop{
  display: none;
}

.cartItemContaineriPhone {
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  background-color: white;

}

.cartItemSections {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
  border-bottom: 1px solid #E3E3E3;
}

.cartItemLeft {
  height: 20vh;
  width: 47%;
}

.cartItemImg {
  height: 100%;
  width: auto;
}

.cartItemRight {
  min-height: 100%;
  width: 47%;
}

.qtyPrice {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qtySelector {
  width: 55%;
}

.cartItemName, .cartItemPrice {
  font-size: 1.15em;
  font-weight: 700;
  margin-bottom: .75em;
}


.cartItemColor, .cartItemSize {
  font-size: 1em;
  margin-bottom: .5em;
}

.availableNow {
  color: green;
  margin-bottom: .5em;
}

.cartItemPriceTotal {
  width: 95%;
  text-align: right;
  font-weight: 700;
  font-size: 1.07em;
  margin: 1em 0;
}

.removeButton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: .75em 0 1em 0;
}
.removeItemLink {
  color: red;
  font-weight: 700;
  letter-spacing: 0.075em;
  margin: .5em 0;
}

@media(min-width: 700px) {

  .cartItemContaineriPhone {
    display: none;
  }
  .cartItemContaineriPad{
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-top: 1em;
    background-color: white;

  }

  .cartItemSections {
    width: 100%;
  }

  .cartItemRight{
    margin-left: 1em;
  }

  .cartItemColor, .cartItemSize {
    font-size: 1.15em;
    margin-bottom: .75em;
  }

  .availableNow {
    font-size: 1.15em;
    margin-bottom: .5em;
  }

  .qtySelector {
    width: 25%;
    margin: 1.25em 0;
  }

  .removeButton {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 1em 0;
  }

  .pricesContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .cartItemPriceTotal {
    margin: 0;
  }

  .qtyPrice {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

}
