body {
  font-family: "Lato", sans-serif;
  color: #2A2A2A;
}

.freeReturns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.5vh;
  background-color: #E3E3E3;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: .5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
  width: 100%;
  border-bottom: 1px solid #E3E3E3;
}

.logoContainer {
  width: auto;
  min-height: 100%;
}

.logoLink {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tnfLogo {
  min-height: 100%;
}

.mobileNavIcons {
  width: auto;
  min-height: 7vh;
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.hamIcon {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hamRow {
  width: 27px;
  height: 5px;
  margin-bottom: 2px;
  background-color: black;
}

.cartIcon {
  height: 4.5vh;
  margin-right: 30px;
}

.linksContainer{
  display: none;
}


@media(min-width: 400px) {

  .header {
    width: 60vw;
    min-height: 10vh;
    margin-left: auto;
    margin-right: auto;
    font-family: 'lato';
  }

  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    min-height: 10vh;
  }

  .logoLink {
    min-height: 10vh;
    width: 100%;
  }

  .tnfLogo {
    min-height: 8vh;
    flex-grow: 1;
  }

  .linksContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 88%;
  }

  .mobileNavIcons{
    display: none;
  }

}
