body {
  font-family: "Lato", sans-serif;
  color: #2A2A2A;
  font-size: 14px;
}

.freeReturns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.5vh;
  background-color: #E3E3E3;
  font-weight: 700;
  font-size: .8em;
  letter-spacing: .05em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
  width: 100%;
  border-bottom: 1px solid #E3E3E3;
}

.logoContainer {
  width: auto;
  min-height: 7vh;
}

.logoLink {
  min-height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tnfLogo {
  min-height: 7vh;
}

.mobileNavIcons {
  width: auto;
  min-height: 7vh;
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.hamIcon {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hamRow {
  width: 1.7em;
  height: 0.3em;
  margin-bottom: 0.2em;
  background-color: black;
}

.cartIcon {
  height: 4.5vh;
  margin-right: 1.8em;
}

.linksContainer{
  display: none;
}


/*IPAD VIEW*/

@media(min-width: 400px) {
  .freeReturns {
    height: 3.3vh;
    font-weight: 900;
    font-size: 1.2em;
  }

  .header {
    min-height: 10vh;
  }

  .linksContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 88%;
  }

  .mobileNavIcons{
    display: none;
  }

  .logoContainer {
    width: auto;
    min-height: 10vh;
  }

  .logoLink {
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tnfLogo {
    min-height: 10vh;
  }

}


/*DESKTOP VIEW*/

@media(min-width: 800px) {

  .header {
    width: 59%;
    min-height: 10vh;
    margin-left: auto;
    margin-right: auto;
    font-family: 'lato';
  }

  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    min-height: 10vh;
  }

  .logoLink {
    min-height: 10vh;
    width: 100%;
  }

  .tnfLogo {
    min-height: 8vh;
    flex-grow: 1;
  }

}
